<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="al.gov.asp.smc.e4.linkapp"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="al.gov.asp.smc.e4.linkapp">
         </property>
         <property
               name="applicationXMI"
               value="al.gov.asp.smc.e4.linkapp/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/al.gov.asp.smc.e4.linkapp/css/default.css">
         </property>
      </product>
   </extension>

</plugin>
